<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="aut" value ="uk_local" />
    <add key="configDir" value ="C:\Users\francis.chelladurai\v3QA\run\config" />
    <add key="outputDir" value ="C:\V3PerformanceResults" />
    <add key="numberOfUsers" value ="5" />
    <add key="iterations" value ="100" />
    <add key="maxWaitTime" value ="30" />
    <add key="dllName" value ="Wonga.QA.Tests.Api.dll" />
    <add key="namespace" value ="Wonga.QA.Tests.Api.ApiJourneys" />
    <add key="tests" value ="L0JourneyAccepted" />
  </appSettings>
</configuration>