<?xml version="1.0" encoding="utf-8"?>
<packages>
   <!-- Log4Net is already packaged by the framework built step, feel free to add performance tests specific packages though -->
   <!-- Packages are downloaded to /lib/nuget/packages -->
  <!--<package id="log4net" version="1.2.10" />-->
</packages>