<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Wonga.QA.Framework\Wonga.QA.Framework.Data\packages.config" />
  <repository path="..\src\Wonga.QA.Framework\Wonga.QA.Framework.Email\packages.config" />
  <repository path="..\src\Wonga.QA.Framework\Wonga.QA.Framework.UI\packages.config" />
  <repository path="..\src\Wonga.QA.Tests\Wonga.QA.Tests.Meta\packages.config" />
  <repository path="..\src\Wonga.QA.Tests\Wonga.QA.Tests.Ui\packages.config" />
</repositories>