<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SMTPHost" value="smtp.gmail.com"></add>
		<add key="SMTPPort" value="587"></add>
		<add key="EnableSsl" value="true"></add>
		<add key="SMTPUsername" value="wongatestreporter@gmail.com"></add>
		<add key="SMTPPassword" value="24CAlmative5"></add>
		<add key="TempFolderPath" value="c:\current"></add>
		<add key="LogFilePath" value="EmailerService.log"></add>
	</appSettings>	
</configuration>