<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="SMTPHost" value="smtp.gmail.com"/>
		<add key="SMTPPort" value="587"/>
		<add key="EnableSsl" value="true"/>
		<add key="SMTPUsername" value="wongatestreporter@gmail.com"/>
		<add key="SMTPPassword" value="24CAlmative5"/>
		<add key="TempFolderPath" value="c:\Service\Temp"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>